<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Consolidação</title>
	<link href="global.css" rel="stylesheet">
	<link rel="stylesheet" href="/nav.css">
	<link rel="stylesheet" href="/radio.css">
</head>

<body>

	<nav th:insert="~{fragments/nav :: nav}"></nav>

	<main class="content">

		<form class="default-form" action="/" method="post" th:object="${contact}">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<h2>+1 Alma!</h2>
			<p>
				<input type="text" name="phoneNumber" placeholder="Telefone (somente números)" autofocus
					th:field="*{phoneNumber}">
			<div class="alert alert-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">
			</div>
			</p>
			<p>
				<input type="text" name="name" placeholder="Nome" th:field="*{name}">
			</p>
			<p>
				<input type="text" name="neighborhood" placeholder="Bairro" th:field="*{neighborhood}">
			</p>

			<!-- TODO: make options dynamic -->

			<fieldset>
				<legend>Selecione a geração:</legend>
				<div>
					<input type="radio" id="adolescente" name="demographicsId" value="1" th:field="*{demographicsId}">
					<label for="adolescente">Adolescente (Kingdom)</label>
				</div>

				<div>
					<input type="radio" id="jovem" name="demographicsId" value="2" th:field="*{demographicsId}">
					<label for="jovem">Jovem (DTX)</label>
				</div>

				<div>
					<input type="radio" id="homens" name="demographicsId" value="3" th:field="*{demographicsId}">
					<label for="homens">30+ (Rede de Homens)</label>
				</div>

				<div>
					<input type="radio" id="mulheres" name="demographicsId" value="4" th:field="*{demographicsId}">
					<label for="mulheres">30+ (Rede de Mulheres)</label>
				</div>

			</fieldset>

			<button class="primary">Cadastrar</button>
		</form>

	</main>

</body>

</html>
